.actionBar {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #cccccc;
  padding: 5px;
  background-color: #cccccc;
}
.sub-menu {
  display: flex;
  justify-content: space-between;
}
.canvas-zone {
  margin-top: 25px;
  height: 400px;
  background: #efefef;
}
