.sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .color-set,
  .stroke-set {
    width: 25px;
    height: 22px;
    margin: 0 15px 0 5px;
  }
}
.canvas-zone {
  width: 100%;
  margin-top: 25px;
  height: 400px;
  background: #efefef;
  position: relative;
  &.grab:hover {
    cursor: grab;
  }
  &.crosshair:hover {
    cursor: crosshair;
  }
}

.dropzone {
  width: 100%;
  margin-top: 25px;
  background: #efefef;
  position: relative;
  border: 15px dotted #dddddd;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
    font-size: 3em;
    width: 100%;
  }
}
